doctype html
html(lang='en')
  include ./head.jade   
  script(src='clientjs/add.js')  
      
  body(role='document',ng-app="add")
    // Fixed navbar
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          //a.navbar-brand(href='#') Bootstrap theme
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='burndown') Burndown
            li
              a(href='authors') Authors
            li
              a(href='about') About
            li
              a(href='contact') Contact
            li
              a(href='read') Set read
            li.active
              a(href='add') Add book
            
        // /.nav-collapse
    .container.theme-showcase(role='main')
      // Main jumbotron for a primary marketing message or call to action
      .jumbotron
        h1 Jefs Book statistics
      h2
        |Add a new book
      div(ng-controller="addController")
            p
                select(ng-model="author")
                    option(ng-repeat="author in authors", value="{{author.id}}") {{author.name}},{{author.firstname}}     
            p
                input(type="text", placeholder="title", ng-model="title",title="Title")                
            p
                select(ng-model="genre")
                    option(ng-repeat="genre in genres", value="{{genre.name}}"){{genre.name}}  
            p
                input(type="text", placeholder="pages", ng-model="pages",title="Pages")
            p
                input(type="text", placeholder="rating", ng-model="rating",title="Rating")
            p
                input(type="text", placeholder="language", ng-model="language",title="Language")
            p
                input(type="date", placeholder="dateRead", ng-model="dateRead",title="Date read")            
            p
                button.btn(ng-click="update()",title="Update") Update
                
              
    // /container
    
    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    
    script(src='#{pathToAssets}/docs/assets/js/_vendor/holder.js')
    
